.App {
  text-align: center;
}

.App-header {
  background-color: #0A77B2;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}


h2 {
  margin-top: 128px;
  margin-bottom: 64px;
}

h3 {
  margin-top: 48px;
}


h4 {
  font-style: italic;
}




