.App {
  text-align: center;
}

.App-header {
  background-color: #0A77B2;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

body {
  background-color: #F0F0F0;
}

.componentClass {
  background-color: #DEDEDE;
  margin-left: 320px;
  margin-right: 320px;
}

h2 {
  margin-top: 128px;
  margin-bottom: 64px;
  padding-top: 32px;
}

h3 {
  margin-top: 24px;
  padding-bottom: 32px;
}


h4 {
  font-style: italic;
}




